.row{
	max-width: $main-width + $gap * 2;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 auto;
	width: 100%;
	> * {
		padding-left: $gap;
		padding-right: $gap;
		width: 100%;
		@media (min-width: 768px) {
			padding-left: 32px;
			padding-right: 32px;
		}
	}
}
.container{
	max-width: $main-width + $gap * 2;
	margin: 0 auto;
	padding-left: $gap;
	padding-right: $gap;
	width: 100%;
	@media (min-width: 768px) {
		max-width: $main-width + 64;
		padding-left: 32px;
		padding-right: 32px;
	}
	.row {
		margin-left: -$gap;
		margin-right: -$gap;
		width: calc(100% + 40px);
		@media (min-width: 768px) {
			margin-left: -32px;
			margin-right: -32px;
			width: calc(100% + 64px);
		}
	}
}
//.container-adaptive{
//	max-width: $main-width + $gap * 2;
//	margin: 0 auto;
//	padding-left: $gap;
//	width: 100%;
//	@media (min-width: 768px) {
//		max-width: $main-width + 64;
//		padding-left: 32px;
//	}
//	@media (min-width: 992px){
//		padding-right: 32px;
//	}
//}
//.container-flexible{
//	max-width: $main-width + 64;
//	margin: 0 auto;
//	@media (min-width: 992px){
//		padding-left: 32px;
//		padding-right: 32px;
//	}
//}